/* latin */
@font-face { font-family: 'Alegreya Sans SC'; font-style: normal; font-weight: 300; src: url('./assets/fonts/alegreya-sans-sc-v4-latin-300.eot'); src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url('./assets/fonts/alegreya-sans-sc-v4-latin-300.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/alegreya-sans-sc-v4-latin-300.woff2') format('woff2'), url('./assets/fonts/alegreya-sans-sc-v4-latin-300.woff') format('woff'), url('./assets/fonts/alegreya-sans-sc-v4-latin-300.ttf') format('truetype'), url('./assets/fonts/alegreya-sans-sc-v4-latin-300.svg#AlegreyaSans SC') format('svg'); }


body {
  user-select: none;
  /*background-color: rgba(32, 34, 36, 0.98);*/
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  cursor: default;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  text-align: left;
  display: block;
  position: fixed;
  // background-color: rgba(238, 238, 238, 0.97);
  background: transparent url('./assets/img-noise-361x370.97.light.png') repeat left top;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-y: scroll;
  padding: 15px 0px 30px;
  &.dark-theme {
    background: transparent url('./assets/img-noise-361x370.97.png') repeat left top;
  }
}

.floating-info {
position:fixed;
bottom:0px;
right: 0px;
opacity: 0.25;
z-index: 1;
  &:hover {
    opacity: 1;
  }
}

.floating-info-section {
  float: left;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  cursor: pointer;
  color: white;
  margin-left:1px;
  padding: 10px 15px;
  display: inline-block;
  background: rgba(0,0,0, .5);
}
.power-off {
  .floating-info:hover &:hover {
    background-color: red;
  }
}
.hide-app {
  .floating-info:hover &:hover {
    background-color: #aaa;
  }
}
.logo {
  border-top-left-radius: 5px;
  padding: 10px;
}

.floating-info:hover .logo:hover {
  background-color: teal;
}

.logo .version {
  font-size: 10px;
}

.App .header {
  margin-bottom: 25px;
  display: none;
}

.App .header .search-bar {
  font-size: 30px;
  border-radius: 15px;
  background-color: #111;
  display: inline-block;
  width: 100%;
  height: 40px;
  color: #333;
  text-align: center;
  line-height: 40px;
}

.App-list {
  color: black;
  .dark-theme & {
    color: white;
  }
}

.App hr {
  border-top: 1px solid #000;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #333;
  margin: 25px 0px;
  background-color: none;
  display: none;
}

a {
  color: #555;
  text-decoration: none;
  .dark-theme & {
    color: #999;
  }
}
a:hover {
  color: #777;
  text-decoration: underline;
  .dark-theme & {
    color: #ccc;
  }
}

.process-command {
  font-size: 24px;
  width: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 0px 20px 0px;
}

.process-deets-wrapper.processing {
  opacity: .1;
  pointer-events: none;
}

.process-deets-wrapper {
  position: relative;
  border-left: 5px solid teal;
  margin: 5px 20px 20px;
  padding: 0px 0px 0px 10px;
  /*background-color: rgba(20,20,20,.5);*/
  /*box-shadow: 0px 1px 4px rgba(255,255,255,.05), inset 1px 1px 4px rgba(0,0,0,.25);*/
}

.process-deets {
  margin: 0px;
}
.process-deets .label {
  display: inline-block;
  padding: 0px 0px 5px;
  color: #000;
  font-weight: bold;
  .dark-theme & {
    color: #fff;
  }
}
.process-deets .deet {
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  padding: 0px 5px 5px;
  /*white-space: nowrap;*/
  word-wrap: break-word;
  user-select: all;
}


.process-deets.inline {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;
}

.process-deets .deet .local-host {
  text-decoration: none;
}

.process-deets .deet .port-number {
  text-decoration: none;
  color: #000;
  .dark-theme & {
    color: white;
  }
}

.process-deets .deet.kill {
  text-decoration: none;
  margin: 0px 5px 0px 0px;
  color: red;
  padding: 0px 5px;
  line-height: 1.5em;
  user-select: none;
  cursor: pointer;
  display: inline-block;
}
.process-deets .deet.kill:hover {
  color: white;
  background-color: red;
}

.process-deets-wrapper .are-you-sure-dialog {
  position: absolute;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 0;
  background: red;
  opacity: 1;
  display: flex;
  padding: 10px 30px;
}


.process-deets-wrapper .are-you-sure-dialog div {
  margin: auto;
  text-align: center;
  color: white;
}

.process-deets-wrapper .are-you-sure-dialog .dialog-button {
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.process-deets-wrapper .are-you-sure-dialog .dialog-button:hover {
    text-decoration: underline;
}

.process-deets-wrapper .are-you-sure-dialog .dialog-button.confirm-kill {
    background: white;
    color: red;
}

.process-deets .deet.process-invoking-command {
  white-space: nowrap;
  background-color: rgba(0,0,0,0.05);
  overflow-x: scroll;
  display: block;
  clear: both;
  margin-bottom: 10px;
  padding: 5px;
  font-size: .8em;
  .dark-theme & {
    background-color: rgba(255,255,255,0.05);
  }
}
